<!DOCTYPE html>
<head>
    <title>MantisBT Exception</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="lib/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="lib/vendor/bootstrap/css/google-plus-theme.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="lib/style.css" type="text/css">
    <script src="kango-ui/kango_api.js"></script>
    <script src="lib/vendor/jquery.min.js"></script>
    <script src="lib/vendor/xml2json.js"></script>
    <script src="lib/vendor/q.js"></script>
    <script src="lib/vendor/moment-with-locales.js"></script>
    <script src="lib/vendor/tmpl.js"></script>
    <script src="lib/vendor/rainbowvis.min.js"></script>
    <script src="lib/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/storage.js"></script>
    <script src="lib/badge.js"></script>
    <script src="lib/ajax.js"></script>
    <script src="lib/preloader.js"></script>
    <script src="lib/popup.js"></script>
</head>
<body>
    <div id="settings">
        <span class="glyphicon glyphicon-cog" role="icon-settings" title="Settings" data-toggle="tooltip" data-placement="left"></span>
    </div>
    <div id="content-popup">
        <div id="errors"></div>
        <div id="mantis"></div>
    </div>
    <script type="text/html" id="template_error">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= error %>
        </div>
    </script>
    <script type="text/html" id="template_mantis__simple">
        <div class="panel panel-default panel300" style="<%= bgColor ? 'background-color: ' + bgColor : '' %>">
            <div class="panel-heading" style="<%= bgColor ? 'background-color: ' + bgColor : '' %>">
                <h4><a href="<%= href %>"><%= title %></a></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <span class="label label-b label-primary">
                            <span class="glyphicon glyphicon-time" style="display: block"></span> <span><%= date %></span>
                        </span>
                    </div>
                    <div class="col-xs-8">
                        <a href="<%= feedHref %>" title="<%= feedHref %>" class="label label-b label-primary" data-toggle="tooltip" data-placement="bottom">
                            <%= feed %>
                        </a>
						<% if (category) { %>
	                        <span class="label label-info"><span class="glyphicon glyphicon-tag"></span> <%= category %></span>
						<% } %>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="template_mantis__full">
        <div class="panel panel-default panel500">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <a href="<%= feedHref %>" title="<%= feedHref %>"><%= feed %></a>
                    </div>
                    <div class="col-xs-4 text-right">
                        <span class="page-number"></span>
                        <ul class="pagination pull-right">
                            <li role="prev"><span class="glyphicon glyphicon-menu-left"></span></li>
                            <li role="next"><span class="glyphicon glyphicon-menu-right"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h4><a href="<%= href %>"><%= title %></a></h4>
                <div class="description"><%= description %></div>
            </div>
            <div class="panel-footer">
                <span class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-time"></span> <span><%= date %></span>
                </span>
				<% if (category) { %>
                    <span class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-tag"></span> <%= category %>
                    </span>
				<% } %>
            </div>
        </div>
    </script>
</body>
</html>
